* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.hero {
  background: linear-gradient(to bottom right, #0fe, #8a1, #a90);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.hero .title {
  min-width: 500px;
}

.hero {
  display: flex;
  align-content: center;
  min-width: 300px;
}

.hero input {
  padding: 12px;
  font-size: 14px;
  height: 60px;
  flex: 1;
  border: none;
}

.hero button {
  height: 40px;
  padding: 12px;
  border: none;
  background-color: aquamarine;
  cursor: pointer;
  min-width: 120px;
  align-items: center;
}

.body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 50px;
}

.movie {
  background-color: #8a1;
  height: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: auto;
}
